* {
  margin: 10px;
}

.list-product {
  display: flex;
  text-align: left;
  align-items: center;
  border: 1px solid rgb(245, 232, 232);
  width: 100%; /*add  */
}
.list-product img {
  padding: 20px;
  width: 200px;
  /* border: 1px solid black; */
}
.list-product h2 {
  font-size: 40px;
}
.desc {
  font-size: 25px;
}
.cate {
  font-size: 25px;
  font-weight: bold;
}
.price {
  font-size: xx-large;
  font-weight: bold;
}

@media (max-width: 768px) {
  * {
    margin: 2px;
  }
  /* .list-product {
    width: auto;
    max-height: 25%;
  } */
  .list-product img {
    padding: 1px;
    width: 90px;
  }
  .list-product h2 {
    font-size: 17px;
  }
  .desc {
    font-size: 15px;
  }
  .price {
    font-size: 19px;
    font-weight: bold;
  }
  .cate {
    font-size: 15px;
    font-weight: bold;
  }
  .list-product strong {
    font-size: 10px;
  }
}
